h1{
    width: 213px;
    height: 38px;
    font-family: SourceSansPro;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.58;
    color: #1b2834;
  }
label{
  width: 65px;
  height: 22px;
    font-family: SourceSansPro;
    font-size: 14px;
    line-height: 1.57;
    color: #68717c;
  }
.container{
    width: 100%;
    max-width: 700px;
    margin-left: 200px;
}
.formField{
    margin-bottom: 30px;    
}
.oneLineField {
    width: 410px;
    height: 36px;
    object-fit: contain;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px 0 rgba(27, 40, 52, 0.08);
    border: solid 1px #d4d8db;
    background-color: rgba(27, 40, 52, 0.01);
  }
.textField{
        width: 410px;
        height: 147px;
        object-fit: contain;
        border-radius: 3px;
        box-shadow: inset 0 1px 3px 0 rgba(27, 40, 52, 0.08);
        border: solid 1px #d4d8db;
        background-color: rgba(27, 40, 52, 0.01);
      }
.sendButton{
    width: 141px;
    height: 36px;
    object-fit: contain;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 var(--dark-16);
    background:linear-gradient(to bottom,#2d74da,#2367c8);
    font-family: SourceSansPro;
    font-size: 14px;
    color: #ffffff;
  }
  .input {
      position: relative;

  }
  .defOption{
      display: none;
  }

  .announcement__title{
    width: 134px;
    height: 38px;
    font-family: SourceSansPro;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.58;
    color: #1b2834;
  }
  .form__title{
    margin:0;
    font-family: SourceSansPro;
    font-size: 18px;
    line-height: 1.22;
    color: #1b2834;
  }
  .form__text{
    width:100%;
    max-width: 350px;
    margin: 5px 0;
    font-family: SourceSansPro;
    font-size: 14px;
    line-height: 1.57;
    color: #68717c;
  }
  .form{
    display: flex;
    justify-content: space-between;
  }
  .announ__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .btn {
    width: 178px;
    height: 36px;
    background: none;
    object-fit: contain;
    border-radius: 3px;
    border: solid 1px #2d74da;
    color: #2d74da;
    font-family: SourceSansPro;
    font-size: 14px;
  }
  .btn--red{
    color: #fa5e5b;
    border-color: #fa5e5b;
  }
  .delete{
    margin-top: 5px;
  }
  .li_item{
    list-style: none;
    margin-bottom: 80px;
  }